<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         beStrictAboutTestsThatDoNotTestAnything="false"
         bootstrap="bootstrap/app.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory suffix="Test.php">./tests</directory>
            <exclude>./tests/Weather/WeatherClientConsumerTest.php</exclude>
        </testsuite>
        <testsuite name="Pact Contract Test Suite">
            <directory suffix="ConsumerTest.php">./tests</directory>
        </testsuite>
    </testsuites>
    <groups>
        <exclude>
            <group>wiremock</group>
            <group>contract</group>
            <group>selenium</group>
        </exclude>
    </groups>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
        </whitelist>
    </filter>
    <listeners>
        <listener class="\Hamcrest\Adapter\PHPUnit\TestListener"/>
        <listener class="PhpPact\Consumer\Listener\PactTestListener">
            <arguments>
                <array>
                    <element>
                        <string>Pact Contract Test Suite</string>
                    </element>
                </array>
            </arguments>
        </listener>
    </listeners>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
        <env name="QUEUE_DRIVER" value="sync"/>
        <env name="WEATHER_SERVICE_URL" value="http://localhost:9999/forecast"/>
        <env name="PACT_MOCK_SERVER_HOST" value="localhost"/>
        <env name="PACT_MOCK_SERVER_PORT" value="7200"/>
        <env name="PACT_CONSUMER_NAME" value="sample_microservice"/>
        <env name="PACT_CONSUMER_VERSION" value="1.0.0"/>
        <env name="PACT_PROVIDER_NAME" value="weather_provider"/>
        <env name="PACT_OUTPUT_DIR" value="./resources/pact"/>
        <env name="SELENIUM_SERVER_URL" value="http://localhost:4444/wd/hub"/>
        <const name="OK" value="200"/>
    </php>
</phpunit>
